/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  
}


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #F1F0E8;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #F1F0E8 9px ), repeating-linear-gradient( #EEE0C955, #EEE0C9 );}
.toast {
  font-size: 12px;

}

nav {
  background-color: #96B6C5;
}
