<nav class="navbar navbar-expand-lg navbar-light sticky-top custom-navbar-bg">
  <div class="container rounded-5">
    <a
      class="navbar-brand d-flex justify-content-center align-items-center"
      [routerLink]="''"
    >
      <img
        src="../assets/fairsharelogo.png"
        alt="Fair Share Logo"
        style="
          max-width: 150px;
          height: auto;
          max-height: 100px;
          margin-left: 12px;
        "
      />
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: isNavbarCollapsed }"
    >
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-end">
        <li class="nav-item">
          <a class="nav-link me-3 fs-5" [routerLink]="'/receipt'">Receipts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3 fs-5" [routerLink]="'/createReceipt'"
            >Create Receipt</a
          >
        </li>
      </ul>
      <ul class="navbar-nav text-end">
        <ng-container *ngIf="isUserAuthenticated; else logoutButton">
          <li class="nav-item">
            <button
              mat-mini-fab
              [matMenuTriggerFor]="menu"
              [ngStyle]="{
                'background-image': 'url(' + imageUrl + ')',
                'background-size': 'contain',
                'background-repeat': 'no-repeat',
                'background-position': 'center'
              }"
            ></button>
            <mat-menu
              #menu="matMenu"
              xPosition="before"
              class="bg-light rounded-4 p-0"
            >
              <mat-card
                class="d-flex flex-column justify-content-center align-items-center p-3 gap-2"
              >
                <h4 class="mb-0">{{ userEmail }}</h4>
                <h5 class="m-0">{{ userID }}</h5>
                <img
                  src="{{ imageUrl }}"
                  class="profile-photo rounded-circle"
                />
                <h2 class="mb-0">Hi, {{ username }}!</h2>

                <!-- <div
                    mat-card-avatar
                    [ngStyle]="{
                      'background-image': 'url(' + imageUrl + ')',
                      'background-size': 'cover',

                    }"
                  ></div>
                  <mat-card-title>{{ username }}</mat-card-title>
                  <mat-card-subtitle>{{ userEmail }}</mat-card-subtitle>
                  <mat-card-subtitle>{{ userID }}</mat-card-subtitle> -->
              </mat-card>
              <button
                mat-menu-item
                (click)="logout()"
                [routerLink]="''"
                class="d-flex align-bottom justify-content-center"
              >
                <span class="d-flex align-bottom justify-content-center"
                  >Logout <mat-icon>logout</mat-icon></span
                >
              </button>
            </mat-menu>
          </li>
        </ng-container>
        <ng-template #logoutButton>
          <li class="nav-item">
            <a
              href="https://fair-share.azurewebsites.net/auth/google"
              class="nav-link d-flex align-items-center justify-content-end fs-5"
            >
              Login<i class="material-icons">login</i>
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<div class="container my-auto">
  <router-outlet />
</div>
