<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top custom-navbar-bg">
  <div class="container">
    <a class="navbar-brand d-flex justify-content-center align-items-center" href="#">
      <img src="../assets/fairsharelogo.png" alt="Fair Share Logo" style="max-width: 150px; height: auto; max-height: 100px; margin-left: 12px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link me-3" href="/receipts">Receipts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="/createReceipt">Create Receipt</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><mat-icon>logout</mat-icon></a>
        </li>
      </ul>
    </div>
  </div>
</nav>




<div class="container">
  <router-outlet />
</div>
