<nav class="py-2 bg-body-tertiary border-bottom">
  <div class="container d-flex flex-wrapalign-items-center">
    <ul class="nav me-auto align-items-center col-5">
      <li class="nav-item"></li>
      <li class="nav-item">
        <a
          [routerLink]="'/receipts'"
          class="nav-link link-body-emphasis px-2 d-flex align-items-center"
        >
          Receipts <mat-icon>receipt</mat-icon>
        </a>
      </li>
    </ul>

    <ul class="nav col-6">
      <li class="nav-item">
        <a [routerLink]="''" class="nav-link link-body-emphasis px-2">
          <h1>Fair Share</h1>
        </a>
      </li>
    </ul>

    <ul class="nav col-5">
      <li class="nav-item">
        <a
          href="#"
          class="nav-link link-body-emphasis px-2 d-flex align-items-center"
          >Sign Out <mat-icon>logout</mat-icon></a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet />
